@import url("../waybar/colors.css");

* {
  font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
  font-size: 14px;
}

window {
  margin: 0;
  padding: 14px;
  border-radius: 16px;
  border: 1px solid @accent_border;
  background-color: #111722;
}

#outer-box,
#inner-box {
  margin: 0;
  border: none;
  background: transparent;
}

#input {
  margin: 0 0 10px 0;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid @accent;
  background-color: #1b2432;
  color: @fg;
}

#entry {
  margin: 2px 0;
  padding: 10px 12px;
  border-radius: 8px;
  color: @fg;
  background: #182130;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

#entry:selected {
  background-color: @accent_soft;
  border: 1px solid @accent;
  color: @accent_text;
}

#text {
  margin-left: 6px;
  margin-right: 6px;
}

#text:selected {
  color: @accent_text;
}
